@model List<CartItem>
<div class="container mt-4">
    <h2>Your Plate</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Dish</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price.ToString("N2")</td>
                    <td>@item.Quantity</td>
                    <td>@((item.Price * item.Quantity).ToString("N2"))</td>
                </tr>
            }
        </tbody>
    </table>



    <a asp-action="Payment" asp-controller="Cart" asp-route-totalPrice="@(Model.Sum(x => x.Price * x.Quantity))"
       class="btn btn-primary fixed-bottom-right">
        Checkout
    </a>

</div>
